.body {
	background-color:#fcfcfc;
	color: #545454;
}


.container {
	color:#545454;
	padding: 5px;
	margin: 0 auto;
	overflow: none;
}

.container_out {
	color:#545454;
	width: 60%;
	padding: 5px;
	margin: 0 auto;
	overflow: auto;
}

.container_side {
	color:#blue;
	padding: 25px 5px 5px 5px;
	
}


.container_out_col_1 {
	width:60%;
	background-color:pink;
}


.inner-container {
	/* background-color:#f7f7f7; */
	margin: 15px 0 15px 0;
	border: 1px solid #f5f5f5;
    border-radius: 5px;
	padding: 10px;
}

.new-container {
	font-size:150%;
	align: left;
	margin-top:25px;
}


.footer {
	margin-top: 55px;
	width: 100%;	
	padding-top:10px;
	padding-bottom: 60px;
	background-color: #f5f5f5;
	margin-bottom:none;
}

.footer-inner {
	margin-top: 5px;
	width: 50%;
	padding: 5px;
	margin: 0 auto;
}

/* Mentor's information */

.mentor_basic_info{
	margin-top:15px;
	margin-bottom:15px;
	/* background-color:green; */
}

.mentor_basic_info table tr td{
	border:none;
}

.profile_picture {
	/* background-color:yellow; */
	/* width:25%; */
	float:left;
	display:inline-block;
	position:static;
}

.profile_picture_img img{
    border-radius: 50%;
	width:100%;
}

.mentor_name {
	font-size: 24px;
	text-align:center;
}

.mentor_info_occu {
	size: 18px;
	font-weight: bold;
	padding: 15px;
	margin:0;
}

.mentor_info_desc {
	font-style:italic;
	text-align:"center";
	padding: 15px;
}


.div_title {
	font-weight: bold;
	text-decoration: underline;
	margin-top:15px;
}

/* List */
ul.bullet_circle {
    list-style-type: circle;
}

.div_title_b {
    font-weight: bold;
	text-decoration: underline;
	margin-top:15px;
	font-size: 24px;
	margin-bottom:30px;
}


/* End list */


/* End metor's information */


