.fa{

}
html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
}
h1{
text-align: center;
margin-top: 3vh;
  }
.front, .step{
  height:100vh;
  overflow-y:0;
  text-align: center;
}
.col-sm{
  width:50vw;
  height: 50vh;
}

.front{
  margin-top: 10vh;
}

a{
  text-decoration: none;
  color:black;
}
a:hover, a:visited{
  text-decoration: none;
}
