body {
  margin-top: 45px;
  overflow-x: hidden;
}
blockquote p{
  color:#382f2f;
}
.onca {
  width:200px;
  height:auto;
  padding-left: 10px;
  align:center;
  align-content: center;
}
.onca {
  width:150px;
  height:auto;
  align-content: center;
  align:center;
  padding-left: 10px;
}

.tiles {
  padding:10px;
  margin-top: 30px;
}

footer{
  color:#73c3c;
}

.bg-primary.card-body.card-blockquote{
background-color:#3cb5dd;}
