.textopp{
  height:90vh;
}
.togglemenu, .guidesmenu{
  text-align: center;
}
.tabcontent {
    display: none;
}
.guidecontent{
  display: none;
}

.opp{
  height: 100vh;
}

html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
}
h1{
text-align: center;
margin-top: 3vh;
  }
.front, .step{
  height:100vh;
  overflow-y:0;
  text-align: center;
}
.col-sm{
  width:50vw;
  height: 35vh;
  margin: 4px;
  border-radius: 10px;
  background: yellow;
  border: white;
  border-width: thick;
}
.inside{
      margin-top: 10vh;
}

.one{
  background-color: #C0FF7F;
}
.two{
  background: #FD5C53;
}
.three{
  background-color: #673EFF;
}
.four{
  background-color: #FFEE57;
}
.front{
  margin-top: 10vh;
}

a{
  text-decoration: none;
  color:#212529;
}
a:hover, a:visited{
  text-decoration: none;
}
.step h3, p{
  margin-top: 5vh;
  margin-left: 3vw;
}
.icon{
  width:20vw;
}
.point{
  width:100vw;
}
@media (min-width: 800px) {
  fa{

  }
}
@media(max-width:553px){
  .row.col-sm{
    margin-left: 25vw;
  }
}
