<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Leveraging the First Steps</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">

  </head>
  <body>
 <header>
    <nav class="navbar navbar-default navbar-fixed-top bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home/">Leveraging the First Steps</a>
      </div>

      <nav class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
        <!--  <li class="active"><a href="#">Upload <span class="sr-only">(current)</span></a></li> -->
          <li><a href="">About</a></li>
          <li><a href="">Local SBA</a></li>
            <li><a href="">Guides and Opportunities</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Account</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
    {% block content %}
    {% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>

</html>
