{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active photo">
      <img src="{% static 'images/header_2.jpg'  %}" alt="Los Angeles">
      <div class="carousel-caption">
        <h3 class="header"><strong> Leveraging the First Steps</strong></h3>
        <p class="desc">Aims to give small business owners and women entrepreneurs an outlet to communicate with
           mentors, facilitators, and local government through many features. Each business owner,
           entrepreneur, facilitator, mentor, or government organization creates a profile that
           allow them to communicate with other people and network. With these profiles users
           can access many different people, their ideas, and advice.</p>
      </div>
    </div>

    <div class="item photo">
      <img src="{% static 'images/header_2.jpg'  %}" alt="Chicago">
      <div class="carousel-caption">
        <h3 class="header">Women in Small Business</h3>
        <div class="row desc">
          <div class="col-sm-4">
            <p class="header"> 3% </p>
            <hr>
            <p> of women made up American business owners in <strong> 1997</strong></p>
          </div>
          <div class="col-sm-4">
            <p class="header"> 29% </p>
            <hr>
            <p> of women made up American business owners in <strong> 2017, </strong> 2 <strong> decades </strong> later </p>
          </div>
          <div class="col-sm-4">
          <p class="header"> $155,000 </p>
          <hr>
          <p> is the average for women, whereas the national average is <strong>$400,000 </strong></p>
          </div>
  </div>
      <p class="desc"><strong>Leveraging the First Steps</strong> provides a place for women especially to ask questions, get answers, tips, and advice when roadblocks arise.</p>
      </div>
    </div>

    <div class="item photo">
      <img src="{% static 'images/header_3.jpg'  %}" alt="New York">
      <div class="carousel-caption">
        <h3 class="header"> Growth and Connections</h3>
        <div class="row desc">
          <div class="col-sm-4">
            <img  class="onca" src="{% static 'images/local_government.png' %}">
            <p> Connecting Local Government</p>
          </div>
          <div class="col-sm-4">
            <img class="onca" src="{% static 'images/owner.png' %}">
            <p> Providing Mentors and Support</p>
          </div>
          <div class="col-sm-4">
            <img class="onca" src="{% static 'images/trend.png' %}">
            <p> Increasing Participation and Producing Results </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="connect">
  <div class="row">
  <div class="col-sm-4">
    <img class="resize" src="{% static 'images/web_acceleration.png' %}">
    <p>Helping small companies to lift off</p>
  </div>
  <div class="col-sm-4">
      <div class="resize dimm"></div>
      <p>Helping small business with mentors</p>
  </div>
  <div class="col-sm-4">
      <img class="resize" src="{% static 'images/connect.png' %}">
      <p>Helping small business owners stay connected</p>
  </div>
</div>
</div>

<div class="start">
  <div class="row">
 <div class="col-sm-2"></div>
 <div class="col-sm-6">
   <img  class="plan" src="{% static 'images\plan.jpg' %}">
 </div>
 <div class="col-sm-4">
   <div class="career"><h3><strong> Kickstart your business</strong></h3></div>
   <button  type="button" class="btn btn-warning btn-lg"> Apply here </button>
   <p style="margin-top:5px">A place to meet <strong style="color: 	#FF7F50">mentors</strong></p>
   <hr>
   <p>Meet <strong style="color:#FF7F50">fellow</strong> business owners</p>
   <hr>
   <p>Find businesses who <strong style="color:#FF7F50" >volunteer</strong> their workspace</p>
   <hr>
 </div>
  </div>
</div>

<div class="local">
  <div class="row">
 <div class="col-sm-2"></div>
 <div class="col-sm-8" align="center">
   <h2> Are you a successful business leader?</p>
     <hr>
   <h3>Help local businesses in your area</h3>
      <button  type="button" class="btn btn-info btn-lg"> Be a mentor </button>
       <button  type="button" class="btn btn-success btn-lg"> Offer a temporary office space </button>
        <button  type="button" class="btn btn-primary btn-lg"> Host a workshop</button>
 </div>
 <div class="col-sm-2"></div>
</div>
</div>
<div class="footer">
  <div class="row">
  <div class="col-sm-4">
    <p> Contact Us</p>
    <p> Contact Local SBA</p>
  </div>
  <div class="col-sm-4">
    <p>Our Team</p>
    <p>Terms and Services</p>
  </div>
  <div class="col-sm-4">
    <p>Partners</p>
  </div>
</div>
</div>

</body>
{% endblock %}
