{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- End navigation bar -->

<div class="container">
 <div class="new-container"></div>
 
<!-- Mentor information -->

<table class="mentor_basic_info">
<tr>
<td width="25%">

<div class="profile_picture">
<div class="profile_picture_img">
<img src="img/profile_picture.jpg" />

<p class="mentor_name">
	Rihanna Gonzalez
</p> 
</div>
</div>
</td>
<td width="70%">
<div class="mentor_info_occu">Manager</div>
<div class="mentor_info_desc">

Lorem ipsum dolor sit amet, ei usu iusto epicuri, possit quodsi accommodare id vel. Vim suas concludaturque an, ex ignota comprehensam concludaturque vix. 
Sit electram contentiones id. Mei no volumus deleniti, vocent ornatus adipiscing ne sea. Pro id laoreet civibus phaedrum.

Sit electram contentiones id. Mei no volumus deleniti, vocent ornatus adipiscing ne sea. Pro id laoreet civibus phaedrum.

</div>
</td>

</div>

</table>
<!-- End Mentor information -->


<!-- Mentor experiences -->

<table class="mentor_basic_info">
<tr>
<td><div class="div_title">Experience</div></td>
</tr>
<tr>
<td width="100%">


<ol class="bullet_circle">
  <li>Coffee</li>
  <li>Tea</li>
  <li>Coca Cola</li>
</ol>

</td>

</div>
</tr>


<tr>
<td><div class="div_title">Industries</div></td>
</tr>
<tr>
<td width="100%">

<ol class="bullet_circle">
  <li>ipsum</li>
  <li>laoreet </li>
  <li>contentiones </li>
</ol>

</div>

</td>
</tr>
</table>
<!-- End Mentor experiences -->

</div>

<div class="footer">
<div class="footer-inner">
</p>2017<p>
</div>
</div>

</body>

{% endblock %}
