<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
<title>Title</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- End navigation bar -->

<div class="container_out">
 <div class="new-container">My Information</div>
<!-- Form -->
<form>
  <fieldset>	
	<div class="inner-container">
	
    <div class="form-group">
      <input type="text" class="form-control" id="userFirstName" placeholder="Name">
    
    </div>
	
    <div class="form-group">
      
      <input type="text" class="form-control" id="userLastname"  placeholder="Lastname">
    
    </div>
	
	 <div class="form-group">
      <input type="text" class="form-control" id="userOccupation" placeholder="Occupation">     
    </div>
	
	<div class="form-group">
      <input type="text" class="form-control" id="userPhone" placeholder="Phone" size="40%">
	</div>
	  
	<div class="form-group">	  
	<input type="text" class="form-control" id="userPhone" placeholder="Mobile" size="40%"> 	  
    </div>

	</div>

    </fieldset>


<!-- End form -->
</div>


<div class="container">
 <div class="new-container">My Business</div>
<!-- Form -->

  <fieldset>	
	<div class="inner-container">
	
    <div class="form-group">
      <input type="text" class="form-control" id="businesstName" placeholder="Name">
    </div>
	
	 <div class="form-group">
      <input type="date" class="form-control" id="businessStartDate" placeholder="Start Date">     
    </div>
	
	 <div class="form-group">
      <textarea class="form-control" id="businessDescription" rows="3" placeholder="Description"></textarea>
    </div>	
	
	<div class="form-group">
      <textarea class="form-control" id="businessMission" rows="3" placeholder="Mission"></textarea>
    </div>	
	
	<div class="form-group">
      <textarea class="form-control" id="businessvision" rows="3" placeholder="Vision"></textarea>
    </div>	
	
	</div>
 
 
	<div class="inner-container">
	
	<div class="input-group margin-bottom-sm">
	  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
	  <input class="form-control" type="text" placeholder="LinkedIn">
	</div>


	<div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
    <input class="form-control" type="text" placeholder="GitHub">
	</div>


	<div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
  <input class="form-control" type="text" placeholder="Twitter">
</div>
	
	</div>
	

    <button type="submit" class="btn btn-primary float-right" name="mentorSaveBtn">Save</button>
    </fieldset>
	</form>

<!-- End form -->
</div>




<div class="footer">
<div class="footer-inner">
</p>2017<p>
</div>
</div>

</body>


</html>