<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Opportunities</title>
<!-- </head> -->
<body>

  <div class="header"></div>
    <!-- OPPORTUNITIES TOP PAGE -->
    <div class="opp">
      <div class="textopp">
      <h1>Opportunities</h1>
      <p>
        We are very delighted to share these opportunities with you! Please use these resourses for your advantage!
      </p>
      </div>
    <!-- TOGGLE MENU -->
    <div class="togglemenu">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary tablink" onclick="openTab(event, 'facilities', false)">
          <input type="radio" name="options" id="option1" checked=""> Facilities
        </label>
        <label class="btn btn-primary tablink" onclick="openTab(event, 'workshops', false)">
          <input type="radio" name="options" id="option2"> Workshops
        </label>
        <label class="btn btn-primary tablink" onclick="openTab(event, 'guides', false)">
          <input type="radio" name="options" id="option3"> Guides
        </label>
      </div>
    </div>
    <!-- TOGGLE MENU END -->
  </div>
  <!-- OPPORTUNITIES TOP PAGE END -->

<div class="container">
  <!-- FACILITIES PAGE -->
  <div class="tabcontent" id="facilities">
    <h1>Facilities</h1>
  </div>
  <!-- FACILITIES PAGE END -->

  <!-- WORKSHOPS PAGE -->
  <div class="tabcontent" id="workshops">
    <h1>Workshops</h1>
  </div>
  <!-- WORKSHOPS PAGE END -->
</div>

<!-- GUIDES -->
<div class="container guides">
  <div class="tabcontent" id="guides">
    <h1>Guides</h1>

    <!-- MENU FOR GUIDES -->
    <div class="guidesmenu">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary guidelink" onclick="openTab(event, 'vc', true)">
          <input type="radio" name="options" id="option1" checked=""> Venture Capital
        </label>
        <label class="btn btn-primary guidelink" onclick="openTab(event, 'bl', true)">
          <input type="radio" name="options" id="option3"> Bussines Loans
        </label>
      </div>
    </div>
    <!-- MENU FOR GUIDES END -->

    <!-- GUIDE TO VC -->
    <div class="container guidecontent" id="vc">
      <h1>Guide to Pitching</h1>
      <div class="front">
          <div class="row">
            <div class="col-sm one">
              <div class="inside">
                <a href="#research1">
                  <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                  <h3>Do your research</h3>
                </a>
              </div>
            </div>
            <div class="col-sm two">
              <div class="inside">
                <a href="#apply1">
                  <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
                  <h3>Apply</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm three">
              <div class="inside">
                <a href="#pitch">
                  <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
                  <h3>Pitch</h3>
                </a>
              </div>
            </div>
            <div class="col-sm four">
              <div class="inside">
                <a href="#followup">
                  <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
                  <h3>Follow up</h3>
                </a>
              </div>
            </div>
          </div>
      </div>
      <div class="row step" id="research1">
        <div class="point">
            <div class="top one">
              <i class="fa fa-book fa-5x" aria-hidden="true"></i>
              <h3>Do your research</h3>
            </div>
        </div>
          <p>Before getting in front of a VC Your company should already have proven itself to be making money.<br>
            You have to show that your company is capable of bringing capital.
          </p>
      </div>
      <div class="row step" id=apply1>
        <div class="point">
          <div class="top two">
           <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
           <h3>Apply</h3>
         </div>
           <p>  Be creative with your pitch! Not only the contents of it, but also the way you reach out to VC investors.
             Sending an email is often not enough to get in front of an investor!
             You have to go an extra mile, be creative about how you get in contact with your potential investor.</p>
        </div>
      </div>
      <div class="row step" id=pitch>
         <div class="point">
           <div class="top three">
             <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
             <h3>Pitch</h3>
           </div>
             <p> So you have gotten an invite to pitch at VC. Way to go! <br>
               It's important to remember your points. Be consice. Stay realistic. Use numbers to tell the story. Know your audience.
             </p>
        </div>
       </div>
       <div class="row step" id=followup>
           <div class="point">
             <div class="top four">
               <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
               <h3>Follow up</h3>
             </div>
             <p>So your pitch is done it is important to stay in contact with the investors! Make sure they remember you.</p>
           </div>
         </div>
      </div>
  <!-- GUIDE TO VC ENDS -->

  <!-- GUIDE TO LOANS -->
    <div class="container">
      <div class="guidecontent" id="bl">
      <h1>Guide to Loans</h1>
      <div class="front">
          <div class="row">
            <div class="col-sm one">
              <div class="inside">
                <a href="#research2">
                  <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                  <h3>Do your research</h3>
                </a>
              </div>
            </div>
            <div class="col-sm two">
              <div class="inside">
                <a href="#apply2">
                  <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
                  <h3>Apply</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="description"><p>Some good banks you might want to consider are...</p></div>
        </div>
        <div class="row step" id="research2">
          <div class="point">
              <div class="top one">
                <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                <h3>Do your research</h3>
              </div>
          </div>
            <p>Review Your Credit History and Credit Score. Prepare your business plan. Look at multiple options. Calculate your business loan payment. Especially if your business is a start-up, you may want to get some advice and help from experienced executives. If you have a chapter of SCORE in your area, they are a wonderful and free source of advice and help.
            </p>
        </div>
        <div class="row step" id=apply2>
          <div class="point">
            <div class="top two">
             <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
             <h3>Apply</h3>
           </div>
             <p>  Preapare the reason for taking out a loan and the amount you will need to take out.</p>
          </div>
        </div>
      </div>
    </div>
  <!-- GUIDE TO LOANS END -->
  </div>
</div>
<!-- GUIDES END -->

  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/5276110f7f.js"></script>
</body>
{% endblock %}
<!-- </html> -->
