<{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Title</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <!-- Optional Bootstrap theme -->
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- End navigation bar -->


<div class="container">
 <div class="row">
    <div class="col-9">

  <!-- <div class="container_out">   -->

 <!-- <div class="container_out_col_1"> -->

<!-- Mentor information -->

<table class="mentor_basic_info">
<tr>
<td width="25%">

<div class="profile_picture">
<div class="profile_picture_img">
<img src="{% static 'img/profile_picture.jpg %}" />

<p class="mentor_name">
	Kylie Jenner
</p>
</div>
</div>

</td>
<td width="70%">
<div class="mentor_info_occu">Manager</div>
<div class="mentor_info_desc">

Lorem ipsum dolor sit amet, ei usu iusto epicuri, possit quodsi accommodare id vel. Vim suas concludaturque an, ex ignota comprehensam concludaturque vix.
Sit electram contentiones id. Mei no volumus deleniti, vocent ornatus adipiscing ne sea. Pro id laoreet civibus phaedrum.

Sit electram contentiones id. Mei no volumus deleniti, vocent ornatus adipiscing ne sea. Pro id laoreet civibus phaedrum.

</div>
</td>
 <!-- </div>  -->
</table>

<!-- End Mentor information -->

<!-- Mentor experiences -->
<table class="mentor_basic_info">
<tr>
<td><div class="div_title">Business</div></td>
</tr>
<tr>
<td width="100%">

<p>  Vocent ornatus adipiscing ne sea </p>

</td>

</tr>


<tr>
<td><div class="div_title">Start Date</div></td>
</tr>
<tr>
<td width="100%">
<p>Nov 5th 2017<p>
</td>
</tr>



<tr>
<td><div class="div_title">Mission</div></td>
</tr>
<tr>
<td width="100%">
<p>Ei usu iusto epicuri, possit quodsi accommodare id vel. Vim suas concludaturque an, ex ignota comprehensam concludaturque vix. </p>
</td>
</tr>



<tr>
<td><div class="div_title">Vission</div></td>
</tr>
<tr>
<td width="100%">
<p>Ii usu iusto epicuri, possit quodsi accommodare id vel. Vim suas concludaturque an, ex ignota comprehensam concludaturque vix. </p>
</td>
</tr>

</table>
</div>

<!-- End Mentor experiences -->

    <div class="col-3">

  <div class="container_side">
<div class="div_title_b">Interests</div>
	<a href="opportunities.html"> Guide to venture capitalists </a>
	<br />
	<a href="opportunities.html"> Guide to loans </a>
 </div>

</div>
</div>

<div class="row">

<div class="col-9">
<!-- Finding opportunities -->
<div class="div_title_b">finding opportunities</div>
	<a href="groups.html"> Groups </a>
<!-- End finding opportunities  -->
</div>

<div class="col-3">
<!-- Finding upcoming -->
<div class="div_title_b">Upcomings</div>
	<a href="opportunities.html"> Workshops </a>
<!-- Finding upcoming -->
</div>

</div>
</div>



<div class="footer">
<div class="footer-inner">
</p>2017<p>
</div>
</div>



</body>
{% endblock %}
